@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@300&display=swap');
:root{
    --color-primario-1: rgb(242, 95, 58);
    --color-primario-2: rgb(35, 44, 81);
    --color-neutro-1: rgb(143,148, 167);
    --color-neutro-2: rgb(29, 30, 37);
    --color-neutro-3: rgb(255, 239, 234);
    --color-neutro-4: rgb(249, 249, 249);
}
*{
    font-family: 'Be Vietnam Pro', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
body::before{
    background-image: url(../img/bg-tablet-pattern.svg);
    content: '';
    position: absolute;
    top:-150px;
    right: 0px;
    width: 38rem;
    height: 43rem;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1000;
}

body::after{
    background-image: url(../img/bg-tablet-pattern.svg);
    content: '';
    position: absolute;
    left:-250px;
    bottom: -735px;
    width: 38rem;
    height: 43rem;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1000;
}
section article{
    margin-top: 30px;
}
/*header*/
.cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
}
.nav__label, .nav__input{
    display: none;
}
.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    
}
.nav__menu a{
    color: var(--color-primario-2);
    text-decoration: none;
}
.btt__start{
    background-color: var(--color-primario-1);
    border: 0;
    border-radius: 30px;
    color: var(--color-neutro-4);
    height: 40px;
    width: 130px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.btt__start:hover{
    cursor: pointer;
}

/*Home*/
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.frase__home{
    display: flex;
    max-width: 340px;
    min-width: 312px;
}
.frase__home img{
    width: 100%;
}
.fh__containter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
}
.fh__containter .title{
    font-size: 40px;
    color: var(--color-primario-2);
    margin: 0;
}
.fh__containter p{
    text-align: justify;
}
.fh__containter button{
    margin-top: 10px;
}
.fh__containter div{
    width: 100%;
}
.fh__containter div:nth-child(2){
    width: 90%;
}
/*sobre nosotros*/
.ab__us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    width: 67%;
    margin: auto;
    margin-top: 2rem;
}
.diferencia{
    width: 40%;
    min-width: 312px;
    margin-right: 5em;
}
.sec__title{
    color: var(--color-primario-2);
    font-size: 25px;
    margin: 0;
}
.content{
    width: 90%;
}
.razon{
    width: 50%;
    min-width: 312px;
    box-sizing: border-box;
    padding: 10px;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.number__list{
    width: 20%;
}
.justifica{
    width: 80%;
}
.justifica span{
    color: var(--color-primario-2);
    font-weight: 700;
}
.justifica p{
    color: var(--color-neutro-1);
}
.number__list button{
    background-color: var(--color-primario-1);
    border: 0;
    border-radius: 20px;
    width: 70%;
    height: 40px;
    color: var(--color-neutro-4);
}
/*carrusel*/
.carrusel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}
.evidencia{
    color: var(--color-primario-2);
    font-size: 25px;
    text-align: center;
    margin-bottom: 5rem;
}
.carrusel article:nth-child(2){
    display: flex;
    margin:auto;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}
.carrusel__card{
    width: 33%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-neutro-4);
    box-sizing: border-box;
    padding: 30px;
    margin-top: 20px;
}
.exponente img{
    width: 100px;
    margin-top: -80%;
}
.exp__name{
    color: var(--color-primario-2);
    font-weight: 700;
}
.carrusel__card div:nth-child(3){
    text-align: center;
    color: var(--color-neutro-1);
}
.carrusel article:nth-child(3){
    text-align: center;
}
/*footer*/
footer{
    margin-top: 5rem;
    width: 100vw;
}
.last__start{
    background-color: var(--color-primario-1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 3rem 2rem 3rem;
}
.last__title{
    font-size: 20px;
    max-width: 350px;
    min-width: 310px;
}
.last__title h2{
    margin: 0;
    color: var(--color-neutro-4);
}
.btt__negativo{
    background-color: var(--color-neutro-3);
    border: 0;
    border-radius: 30px;
    color: var(--color-primario-1);
    height: 40px;
    width: 130px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}